/* Pong Game */
canvas {
	background: black;
	border: 2px solid var(--primary-color);
	box-shadow: 0 0 20px var(--primary-color);
  }

  
#tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.ttt-cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: #333;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: background 0.3s;
}

.ttt-cell:hover {
    background: #555;
}