header {
    width: 100%;
    background: linear-gradient(to bottom, #7a9eb7, #5b7a91);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 25px;
    font-family: 'NintendoDS', sans-serif;
    border-bottom: 2px solid #2e4a5f;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 1000;
}

header .nav-container a {
    color: white !important;
    text-decoration: none !important;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left {
    display: flex;
    align-items: center; 
    gap: 10px;
}


.nav-right {
    display: flex;
    gap: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 4px 8px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #888, -2px -2px 0px #fff;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.header-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 8px; /* Espacement entre le texte et l’avatar */
    object-fit: cover;
    vertical-align: middle; /* Aligne avec le texte */
}


.hidden {
    display: none;
}
