.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login-box {
    padding: 25px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
	margin-bottom: 15px;
}

.no-account-text {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 5px; 
}


.login-title {
    font-size: 40px;
    font-family: "NintendoDS", sans-serif;
    color: black;
    margin-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-form input {
    width: 250px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
}

.login-button {
    width: 270px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 2px solid black;
    cursor: pointer;
}

.login-button:hover {
    background: linear-gradient(to bottom, #fff, #ddd);
}

.error-message {
	color: #ff4c4c;
	font-size: 1.5rem;
	animation: fadeIn 0.3s ease-in-out;
}

.shake {
    animation: shake 0.2s ease-in-out 2;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}
